


.logo-container {
    width: auto;
    margin: auto;
    border: 3px solid white;
    float: left;
  }
  
  
  .nav-container {
    width: auto;
    margin: auto;
    border: 3px solid white;
    float: right;
  }
  
  
  .navheader2 {
   width: auto;
    height: 30px;
    background-color: #406282;
    padding-top: 10px;
  }
  
  
  .nav-container2 {
    width: auto;
    margin: auto;
    border: 3px solid 406282;
    float: right;
  }

 
  
  .logo-small.svg {
  
       float: left;
  
  }
  
  .redline {
   width: 300px;
    height: 1px;
    border: 1px red; 
  }
  
  .navheader {
   width: auto;
    height: 40px;
    border: 1px solid white 
    border-bottom-color: red;
    padding-top: 10px;
  }
  
  .logo-container {
  margin-left: 8em
  }
  
  .nav-right {
    color: white;
     margin-right: 8em
    
  }
  
  .nav-about {
     margin-right: 3em
  }
  
  .nav-skills {
     margin-right: 3em
  }
  
  .nav-work {
     margin-right: 3em
  }
  
  .nav-contact {
     margin-right: 3em
  }
  
  .nav-resume {
     margin-right: 3em
  }
  
  .nav-digital {
     margin-right: 3em
  }
  
  .nav-illustrator {
     margin-right: 3em
  }
  
  .nav-graphic-design {
     margin-right: 3em
  }
  
  .nav-environmental-design {
     margin-right: 3em
  }
  
  
  .about-container {
  width: auto;
  height: 415px;
    margin: auto;
    border: 1px solid white;
  }
  
  .about-hero {
  width: 100%;
  height: 460px;
  margin: auto; 
  object-fit: cover;
  object-position: center;
  }
  
  .footer {
  width: auto;
  height: 225px;
  margin: auto;
  border: 1px solid #555658#73AD21;
  background-color: #555658;
  }
  
  .footer-contact-section {
    width: 293px;
    height: 225px;
    border: 1px solid #555658;
  }
  
  .footer-contact-header {
    font-size:35px;
    font-weight: Bold;
    position:relative; top:10px
  }
  
  .footer-contact-body {
    position:relative; bottom:18px
  }
  
  .footer-main-nav-section {
  font-family: Alice;
  width: 160px;
  height: 192px;
  border: 1px solid #555658;
  padding-top: 2em;
  }
  
  .footer-main-nav-section-2 {
  font-family: Alice;
  width: 250px;
  height: 192px;
  border: 1px solid #555658;
  padding-top: 2em;
  }
  
  .footer-main-nav-section-3 {
  font-family: Alice;
  width: 160px;
  height: 192px;
  border: 1px solid #555658;
  padding-top: 2em;
  }
  
  
  .footer{
   display: flex;
    justify-content: space-around;
  }
  
  .copyright {
    font-size: 12px;
    float: right;
    padding-right: 3em;
  }
  
  .about-me {
    width: 300;
    height: 415px;
    position: relative;
  }
  
  .about {
    font-size:35px;
    font-weight: Bold;
    width: 100;
    height: 40px;
    border: 1px solid white;
    position: relative;
    padding-left: 7em;
   
  }
  
  .goal {
      line-height: 1.4;
      position:relative; bottom: 28px;
      width: 500;
      height: 220px;
      border: 1px solid white;
      float: right;
      padding-top: 0.2em;
      padding-right: 34em;
      
  }
  
  